.articles {
  position: relative;
  z-index: 9999;
}
/* CUSTOM STYLES for articles */
.data-table .table-article-title,
.data-table .table-article-content {
  text-align: center;
}
.data-table .table-article-title p,
.data-table .article-content p {
  max-width: 400px;
  margin: 0 auto;
}
.data-table .table-article-title::before,
.data-table .table-article-content::before {
  content: attr(data-title) ": ";
  font-weight: 700;
  float: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

/* VIEW article page styles */
.view-article-modal {
  display: none;
}
.view-article-modal.show {
  position: fixed;
  inset: 0;
  min-height: calc(100vh - 4rem);
  background-color: var(--whiter);
  padding-top: 4rem;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  padding-top: 5rem;
  padding-bottom: 6rem;
}
.view-article-content {
  width: 100%;
  text-wrap: balance;
  font-family: var(--font-family);
  letter-spacing: var(--spacing);
  background-color: var(--whiter);
}
.view-article-title {
  text-align: center;
}
.article-container {
  margin: 0 auto;
  max-width: 90%;
}
/* CLOSE (x) button */
.close-article-btn-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.close-article-btn {
  background-color: var(--shade);
}
.close-article-btn img {
  position: relative;
  width: 25px;
  height: 25px;
}

@media screen and (width >= 400px) {
  /* VIEW article page styles */
  .article-container {
    width: 90%;
    max-width: 600px;
  }
}

@media screen and (width >= 800px) {
  /* CUSTOM STYLES for articles */
  .data-table .table-article-title p,
  .data-table .table-article-content p {
    text-align: center;
    max-width: 800px;
  }
  .data-table .table-article-title::before,
  .data-table .table-article-content::before {
    content: none;
  }

  /* CREATE article page styles */
  .create-article-section .section-header {
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--whiter);
    max-width: 800px;
    margin: 0 auto;
  }
  .form-back-btn {
    flex: 0 0 10%;
  }

  /* VIEW article page styles */
  .view-article-modal {
    background-color: var(--whiter);
  }
  .article-container {
    background-color: var(--whiter);
    max-width: 600px;
    padding: 1rem;
    border: var(--border-small);
    position: relative;
  }
  .article-container::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    background-color: var(--whiter);
    border: var(--border-small);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .view-article-title {
    margin-top: 2rem;
  }
  .close-article-btn-container {
    margin-top: 1rem;
  }
}
@media screen and (width >= 1000px) {
  /* VIEW article page styles */
  .article-container {
    max-width: 800px;
  }
}
