/* CUSTOM table styles for articles */
table .article-status {
  text-align: center;
}
table .article-title {
  min-width: 400px;
}
table td.article-title p {
  transition: color 0.2s ease;
}
table td.article-title p:hover {
  color: var(--maroon);
}
table td span.article-status-badge {
  display: inline-block;
  padding: 0 0.2rem;
  color: var(--black);
  background-color: var(--white);
  border-radius: var(--radius);
}

/* articles PAGINATION styles */
.pagination {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}
.pagination button {
  padding: 0.5rem 1rem;
  border: var(--border-small);
  border-radius: var(--radius);
  background: var(--whiter);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: var(--btn-font-weight);
}
.pagination button.active {
  background: var(--blue);
  color: var(--white);
}
.pagination button:disabled {
  background: var(--white);
  color: var(--shade);
  pointer-events: none;
}
.pagination span {
  margin: 0 5px;
}

/* CREATE article custom styles */
.create-article-form .article-content {
  min-height: 200px;
}

/* VIEW article page styles */
.view-article-modal {
  display: none;
}
.view-article-modal.show {
  position: fixed;
  inset: 0;
  min-height: calc(100vh - 4rem);
  background-color: var(--white);
  padding-top: 4rem;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  padding-top: 5rem;
  padding-bottom: 6rem;
  z-index: 999;
}
.view-article-content {
  width: 100%;
  text-wrap: balance;
  font-family: var(--font-family);
  letter-spacing: var(--spacing);
  user-select: text;
}
.view-article-title {
  text-align: center;
}
.article-container {
  margin: 0 auto;
  max-width: 90%;
  background-color: var(--white);
}
/* CLOSE (x) button */
.close-article-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.close-article-btn {
  background-color: var(--shade);
}
.close-article-btn img {
  position: relative;
  width: 25px;
  height: 25px;
}

/* Update article custom styles */
.update-article-form .article-content {
  min-height: 200px;
}

/* CUSTOM CHECKBOX */
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1rem;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--shade);
  border-radius: var(--radius);
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ebedf1;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--blue);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (width >= 400px) {
  /* VIEW article page styles */
  .article-container {
    width: 90%;
    max-width: 600px;
  }
}

@media screen and (width >= 800px) {
  /* CUSTOM STYLES for articles */
  .data-table .table-article-title p,
  .data-table .table-article-content p {
    text-align: center;
    max-width: 800px;
  }
  .data-table .table-article-title::before,
  .data-table .table-article-content::before {
    content: none;
  }

  /* CREATE article page styles */
  .create-article-section .section-header {
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--whiter);
    max-width: 800px;
    margin: 0 auto;
  }
  .form-back-btn {
    flex: 0 0 10%;
  }

  /* VIEW article page styles */
  .view-article-modal {
    background-color: var(--black);
  }
  .article-container {
    background-color: var(--whiter);
    max-width: 600px;
    padding: 1rem;
    border: var(--border-small);
    position: relative;
  }
  .article-container::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    background-color: var(--whiter);
    border: var(--border-small);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .view-article-title {
    margin-top: 2rem;
  }
  .close-article-btn-container {
    margin-top: 1rem;
  }
}
@media screen and (width >= 1000px) {
  /* VIEW article page styles */
  .article-container {
    max-width: 800px;
  }
}
