.articles {
  position: relative;
  z-index: 9999;
}

/* CUSTOM STYLES for articles */
.data-table .table-article-title,
.data-table .table-article-content {
  text-align: center;
}
.data-table .table-article-title p,
.data-table .article-content p {
  max-width: 400px;
  margin: 0 auto;
}
.data-table .table-article-title::before,
.data-table .table-article-content::before {
  content: attr(data-title) ": ";
  font-weight: 700;
  float: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
@media screen and (width >= 800px) {
  .data-table .table-article-title p,
  .data-table .table-article-content p {
    max-width: 100%;
  }
  .data-table .table-article-title::before,
  .data-table .table-article-content::before {
    content: none;
  }
}

/* CREATE article page styles */
.create-article-section {
  background-color: var(--white);
  min-height: calc(100vh - 4rem);
}
.create-article-section .section-header {
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--whiter);
}
.create-article-section .section-title {
  font-size: 1rem;
}
.create-article-form .article-title {
  width: 100%;
  height: 150px;
  padding: 0.2rem;
  border: var(--border-small);
  border-radius: var(--radius);
  resize: none;
  color: var(--black);
  letter-spacing: 1.92px;
}
.create-article-form .article-title:focus-visible {
  outline: 2px solid var(--shade);
}
.form-btn-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}
.form-back-btn {
  flex: 0 0 20%;
}
@media screen and (width >= 800px) {
  .create-article-section .section-header {
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--whiter);
    max-width: 800px;
    margin: 0 auto;
  }
  /* CREATE article page styles */
  .form-btn-container {
    justify-content: space-between;
  }
  .form-back-btn {
    flex: 0 0 10%;
  }
}

/* CUSTOM hugerte styles */
.tox-hugerte {
  margin-bottom: 1rem;
  border-radius: var(--radius) !important;
  border: var(--border-small) !important;
  font-family: var(--font) !important;
}
.tox-editor-header {
  box-shadow: none !important;
  border-bottom: var(--border-small) !important;
}
.tox-edit-area::before {
  border: 2px solid var(--shade) !important;
}
.tox .tox-collection--list .tox-collection__item--active {
  background-color: var(--shade) !important;
  color: var(--black) !important;
}
.tox .tox-menu {
  border-radius: var(--radius) !important;
}
.tox .tox-mbtn--active,
.tox .tox-mbtn:not(:disabled).tox-mbtn--active:focus {
  background-color: var(--shade) !important;
  box-shadow: none !important;
  border: none !important;
}

/* VIEW article page styles */
.view-article-section {
  min-height: calc(100vh - 4rem);
  background-color: var(--whiter);
  padding-top: 4rem;
}
.article-container {
  margin: 0 auto;
  max-width: 90%;
}
.close-article-btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1rem 0;
}
.close-article-btn {
  position: relative;
  width: 25px;
  height: 25px;
}
.close-article-btn span {
  background-color: var(--white);
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: var(--radius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, width 0.2s ease-in-out;
  background-color: var(--black);
}
.article-container .line-1 {
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
}
.article-container .line-2 {
  width: 0px;
}
.article-container .line-3 {
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
}
.view-article-title {
  text-align: center;
}

@media screen and (width >= 400px) {
  .article-container {
    width: 90%;
    max-width: 600px;
  }
}
@media screen and (width >= 800px) {
  .view-article-section {
    background-color: var(--white);
    padding-top: 6rem;
  }
  .article-container-wrapper {
    position: relative;
    z-index: 1;
  }
  .article-container {
    background-color: var(--whiter);
    max-width: 600px;
    padding: 1rem;
    border: var(--border-small);
    position: relative;
  }
  .article-container::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    background-color: var(--whiter);
    border: var(--border-small);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .view-article-title {
    margin-top: 2rem;
  }
  .close-article-btn-container {
    margin: 0;
  }
}
@media screen and (width >= 1000px) {
  .article-container {
    max-width: 800px;
  }
}
