.footer {
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9;
  bottom: 0;
  left: 0;
}
.footer-copyright {
  display: block;
}
