/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
:root {
  --black: #191919;
  --whiter: #fefeff;
  --white: #f7f9fe;
  --shade: #dee0e5;
  --fg: #191919;
  --maroon: #772e25;
  --red: #c71f37;
  --blue: #0643a4;
  --green: #007f4e;

  --radius: 5px;
  --border-small: 1px solid var(--shade);
  --btn-font-weight: 500;

  --font: "Open Sans", sans-serif;
}
body {
  letter-spacing: 1.92px;
  font-family: var(--font);
  color: var(--black);
  position: relative;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* General Styles */
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: var(--fg);
}
img {
  display: block;
  object-fit: cover;
}
section {
  width: 100%;
  padding: 3rem 0;
  background-color: var(--white);
}
textarea {
  font-family: var(--font);
}

/* HIDE page if user is not admin*/
.page-hidden {
  display: none;
}

/* BACKGROUND colors */
.bg-blue {
  background-color: var(--blue);
  color: var(--white);
}
.bg-red {
  background-color: var(--red);
  color: var(--white);
}
.bg-green {
  background-color: var(--green);
  color: var(--white);
}
.bg-maroon {
  background-color: var(--maroon);
  color: var(--white);
}
.bg-black {
  background-color: var(--black);
  color: var(--white);
}

/* MAIN container */
.main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  background-color: var(--white);
}

.divider {
  height: 2px;
  border-radius: var(--radius);
  display: block;
  width: 20%;
  margin: 1rem auto;
  background-color: var(--shade);
}

.section-header {
  background-color: var(--whiter);
  border: var(--border-small);
  display: flex;
  column-gap: 0.2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: var(--radius);
}
.section-icon {
  width: 2rem;
}
.section-title {
  color: var(--black);
  font-size: 2rem;
}
.users-list {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.title {
  color: var(--white);
  font-weight: normal;
}

/* SECTION container */
.section-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

/* NEW button container */
.new-btn-container {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

/* BUTTONS */
.btn {
  border: none;
  display: inline-block;
  border-radius: var(--radius);
  color: var(--white);
  font-weight: var(--btn-font-weight);
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--spacing);
}

/* MODAL window */
.modal-window {
  display: none;
}
.modal-window.show {
  position: fixed;
  inset: 0;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  backdrop-filter: blur(5px);
  overflow: auto;
  padding: 4rem 0;
}

/* DATA TABLE */
.data-table {
  width: 100%;
  border-spacing: 0;
  background-color: var(--whiter);
  table-layout: auto;
}
.data-table tr {
  display: block;
}
/* HIDE table heading on mobile view */
.data-table thead tr {
  display: none;
}
.data-table th,
.data-table td {
  padding: 0.5rem;
}
.data-table td {
  text-align: right;
  display: block;
  font-size: 1rem;
  border-left: var(--border-small);
  border-right: var(--border-small);
}
.data-table td::before {
  content: attr(data-title) ": ";
  font-weight: 700;
  float: left;
}
.data-table td:last-child::before {
  content: none;
}
.data-table tbody tr:first-child td:first-child {
  border-top: var(--border-small);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.data-table tbody tr:last-child td:last-child {
  border-bottom: var(--border-small);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.data-table tbody tr:nth-child(even) {
  background-color: var(--white);
}

/* ACTION container */
.action-container {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 0.2rem;
}
/* ACTION column contents */
.action-view-btn,
.action-update-btn,
.action-delete-btn {
  padding: 0.2rem 0.2rem;
  font-size: 14px;
}
.action-view-btn img,
.action-update-btn img,
.action-delete-btn img {
  width: 26px;
}

/* CREATE & EDIT forms */
.custom-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: var(--radius);
  width: 90%;
  background-color: var(--white);
}
.form-title {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 1rem 0;
  color: var(--white);
}

/* FORM labels */
.form-label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0.2rem;
}
/* FORM controls */
.form-control {
  padding: 1rem;
  border: var(--border-small);
  border-radius: var(--radius);
  color: var(--black);
  field-sizing: content;
  font-size: 1rem;
  letter-spacing: 1.92px;
  outline: none;
  resize: none;
}

.form-label,
.form-control,
.form-btn-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* FORM buttons */
.form-create-btn,
.form-update-btn {
  padding: 0.5rem;
}
.form-btn-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.form-back-btn {
  flex: 0 0 20%;
}

/* DELETE modal */
.delete-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.delete-modal.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.delete-modal-form {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 300px;
  height: 200px;
  background-color: var(--white);
  border-radius: var(--radius);
  padding: 0.8rem;
}
.delete-modal-form .modal-title {
  align-self: center;
  justify-self: center;
  font-weight: var(--btn-font-weight);
}
.delete-modal-form .modal-confirm {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* custom ALERT message */
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.alert-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 220px;
  border-radius: var(--radius);
  padding: 0.8rem;
}
.alert-content .alert-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--btn-font-weight);
}

@media screen and (width >= 400px) {
  /* CREATE & EDIT forms */
  .custom-form {
    max-width: 380px;
  }
}

@media screen and (width >= 800px) {
  .main {
    grid-template-columns: auto 1fr;
    position: relative;
    align-items: start;
  }
  .main-container {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  /* SECTION container  */
  .section-container {
    max-width: 90%;
  }
  .section-icon {
    width: 4rem;
  }
  .section-title {
    font-size: 4rem;
  }
  /* DATA TABLE */
  .data-table td::before {
    content: none;
  }
  .data-table th {
    white-space: nowrap;
  }
  .data-table th,
  .data-table td {
    border-left: none;
    border-right: none;
  }
  .data-table thead {
    border-bottom: none;
  }
  .data-table thead tr {
    display: table-row;
  }
  .data-table thead tr th {
    background-color: var(--shade);
    color: var(--black);
  }
  .data-table tr {
    display: table-row;
  }
  .data-table td {
    display: table-cell;
    text-align: center;
  }
  .data-table td:last-child {
    justify-content: center;
    column-gap: 1rem;
  }
  /* reset borders from mobile view */
  .data-table tbody tr:first-child td:first-child {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .data-table tbody tr:last-child td:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* add left borders */
  .data-table tbody tr td:first-child {
    border-left: var(--border-small);
  }
  /* add right borders */
  .data-table tbody tr td:last-child {
    border-right: var(--border-small);
  }
  /* add bottom borders */
  .data-table tbody tr:last-child td {
    border-bottom: var(--border-small);
  }
  /* ROUNDED BORDERS */
  /* add rounded borders on top left*/
  .data-table thead tr th:first-child {
    border-top-left-radius: var(--radius);
  }
  /* add rounded borders on top right */
  .data-table thead tr th:last-child {
    border-top-right-radius: var(--radius);
  }
  /* add rounded borders on bottom left */
  .data-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--radius);
  }
  /* add rounded borders on bottom right */
  .data-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--radius);
  }

  /* ACTION EDIT/DELETE buttons container */
  .action-container {
    justify-content: center;
    column-gap: 0.5rem;
  }

  /* CREATE & EDIT forms */
  .custom-form {
    max-width: 600px;
  }
  .form-title {
    font-size: 1.2rem;
  }
  .form-label,
  .form-control,
  .form-btn-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .form-btn-container {
    margin: 1rem;
  }

  /* FORM buttons */
  .form-create-btn,
  .form-update-btn {
    max-width: 200px;
  }

  /* DELETE modal */
  .delete-modal-form {
    width: 320px;
    height: 220px;
  }
}

@media screen and (width >= 1000px) {
  .section-container {
    max-width: 100%;
  }
  .main {
    grid-template-columns: 1fr 4fr;
  }
  .link-name {
    display: block;
  }
  /* CREATE & EDIT forms */
  .custom-form {
    max-width: 800px;
  }
}

/* table PAGINATION styles */
.pagination-pages {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.pagination {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}
/* pagination buttons */
.pagination-btn {
  background-color: var(--white);
  color: var(--black);
  font-size: 0.8rem;
  border: var(--border-small);
  border-top: var(--border-small);
  border-bottom: var(--border-small);
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.pagination-btn-active {
  background-color: var(--shade);
}
.pagination li:first-child .pagination-btn {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-left: var(--border-small);
}
.pagination li:last-child .pagination-btn {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-right: var(--border-small);
}
.pagination-btn-disabled {
  background-color: var(--whiter);
  color: var(--shade);
  border: var(--border-small);
}
.pagination li:first-child .pagination-btn-disabled {
  border-right: none;
}
.pagination li:last-child .pagination-btn-disabled {
  border-left: none;
}
