/* LOGIN PAGE styles */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--whiter);
  padding: 4rem 0;
}
.login-form {
  width: 90%;
  height: auto;
  max-width: 300px;
  background-color: var(--whiter);
}
.login-form-title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.login-form label {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  display: inline-block;
  font-size: 0.8rem;
}
.login-form .form-control {
  padding: 0.6rem;
  width: 100%;
  height: auto;
  letter-spacing: var(--spacing);
  margin: 0;
}
.login-form .form-control:focus {
  border: var(--border-small);
}
.login-form .login-btn {
  background-color: var(--black);
  padding: 0.8rem;
  width: 100%;
}
@media screen and (width >= 800px) {
  .login {
    background-color: var(--white);
  }
  .login-form {
    border: var(--border-small);
    border-radius: var(--radius);
    padding: 1.5rem;
    max-width: 350px;
  }
}
