/* LOGIN PAGE styles */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 4rem);
  row-gap: 1rem;
}
.login-form {
  width: 90%;
  height: auto;
  max-width: 300px;
}
.login-form-title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.login-form label {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  display: inline-block;
  font-size: 0.8rem;
}
.login-form input {
  border: var(--border-small);
  border-radius: var(--radius-small);
  outline: none;
  padding: 0.2rem;
  font-size: 1rem;
  width: 100%;
  height: auto;
  letter-spacing: var(--spacing);
}
.login-form input:focus {
  border: var(--border-small);
}
.login-form .login-btn {
  background-color: var(--black);
  padding: 0.5rem;
}
@media screen and (width >= 800px) {
  .login-form {
    border: var(--border-small);
    border-radius: var(--radius);
    padding: 1.5rem;
    max-width: 350px;
  }
}
